<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/panel/category/{id} (id=${category.getCategoryId()})}" th:object="${category}">
    <label for="category_name">Enter category name: </label>
    <input type="text" th:field="*{categoryName}" id="category_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">Name Error</div>
    <br/>
    <label for="category_description">Enter address: </label>
    <input type="text" th:field="*{categoryDescription}" id="category_description"/>
    <div style="color:red" th:if="${#fields.hasErrors('categoryDescription')}" th:errors="*{categoryDescription}">Description error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>