<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/panel/users/{userId} (userId=${users.getUserId()})}" th:object="${users}">
    <label for="first_name">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="first_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br/>
    <label for="last_name">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    <br/>
    <label for="birthday">Enter birthday: </label>
    <input type="date" th:field="*{birthday}" id="birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="role">Enter role: </label>
    <input type="text" th:field="*{role}" id="role"/>
    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>