<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New customer</title>
</head>
<body>

<form th:method="POST" th:action="@{/panel/customers}" th:object="${customers}">
    <label for="company_name">Enter company name: </label>
    <input type="text" th:field="*{companyName}" id="company_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Name Error</div>
    <br/>
    <label for="address">Enter address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <br/>
    <label for="contact_name">Enter contact name: </label>
    <input type="text" th:field="*{contactName}" id="contact_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}">Contact name Error</div>
    <br/>
    <label for="phone_number">Enter phone number: </label>
    <input type="tel" th:field="*{phoneNumber}" id="phone_number"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>