<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/panel/categories/{id} (id=${category.getId()})}" th:object="${category}">
    <label for="category_name">Enter category name: </label>
    <input type="text" th:field="*{name}" id="category_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="category_description">Enter address: </label>
    <input type="text" th:field="*{description}" id="category_description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>