<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

<p th:text="${category.getName()}"/>
<p th:text="${category.getDescription()}"/>

<!-- Visible for manager only -->
<form th:method="DELETE" th:action="@{/panel/categories/{id} (id=${category.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a th:href="@{/panel/categories/{id}/edit (id=${category.getId()})}">Edit</a>

</body>
</html>