<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/panel/drivers/{id} (id=${driver.getId()})}" th:object="${driver}">
    <label for="user">Select a user: </label>
    <select th:field="*{user}" class="form-control" id="user">
        <option th:each="user: ${users}" th:value="${user.getId}"
                th:text="${user.getFirstName() + ' ' + user.getLastName()}"/>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('user')}" th:errors="*{user}">User Error</div>
    <br/>

    <label for="truck">Select a truck: </label>
    <select th:field="*{truck}" class="form-control" id="truck">
        <option th:each="truck: ${trucks}" th:value="${truck.getId()}"
                th:text="${truck.getBrand() + ' ' + truck.getModel() + ' (' + truck.getNumberPlate() + ')'}"/>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('truck')}" th:errors="*{truck}">Truck Error</div>
    <br/>

    <label for="license">Enter license: </label>
    <input type="text" th:field="*{license}" id="license"/>
    <div style="color:red" th:if="${#fields.hasErrors('license')}" th:errors="*{license}">License error</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>