<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
</head>
<body>

<p th:text="${driver.getUser().getFirstName() + ' ' + driver.getUser().getLastName()}"/>
<p th:text="${driver.getTruck().getBrand() + ' ' + driver.getTruck().getModel() +
 ' (' + driver.getTruck().getNumberPlate() + ')'}"/>
<p th:text="${driver.getLicense()}"/>

<!-- Visible for manager only -->
<form th:method="DELETE" th:action="@{/panel/drivers/{id} (id=${driver.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a th:href="@{/panel/drivers/{id}/edit (id=${driver.getId()})}">Edit</a>

</body>
</html>