<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<p th:text="${product.getName()}"/>
<p th:text="${product.getDescription()}"/>
<p th:text="${product.getCategoryId().getName()}"/>
<p th:text="${product.getPrice()}"/>
<p th:text="${product.getDiscount()}"/>
<p th:text="${product.getDiscountAvailable()}"/>

<!-- Visible for manager only -->
<form th:method="DELETE" th:action="@{/panel/products/{id} (id=${product.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a th:href="@{/panel/products/{id}/edit (id=${product.getId()})}">Edit</a>

</body>
</html>