<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment method</title>
</head>
<body>

<p th:text="${payment.getType()}"/>
<p th:text="${payment.getAllowed()}"/>

<!-- Visible for manager only -->
<form th:method="DELETE" th:action="@{/panel/payments/{id} (id=${payment.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a th:href="@{/panel/payments/{id}/edit (id=${payment.getId()})}">Edit</a>

</body>
</html>